body {
    box-sizing: border-box;
    margin: 0;
    background: #ff9966;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5e62, #ff9966);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contenedor {
    background-color: white;
    height: calc( 100vh - 20px);
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 30px 0 30px;
}

h1,
h2 {
    text-align: center;
    font-family: 'IBM Plex Serif', serif;
}

h2 {
    color: white;
}

.contenedor-flex {
    display: flex;
    border: 3px solid black;
    /* Direcciones */
    /* flex-direction: row;
    /* Wrap */
    /* flex-wrap: wrap;
    /* Flex flow  - column o row y wrap, nowrap o wrap-reverse */
    flex-flow: row wrap;
    height: 400px;
    /* Alinear elementos Horizontalmente   justify-content */
    /*  Alinear elementos Verticalmente    align-items     */
    justify-content: space-between;
    align-items: center;
}

.elemento-flex {
    padding: 10px;
    /* Flex tiene 3 parametros: 
        1) flex-grow: ^0;  -> los elementos se expanden según el número 0 por defecto. Entre todos los elementos dentro del contenedor display:flex;
                            Se dividiran y se asignara a cada uno una parte proporcional al total resultante, ej: divs -> 2 3 3 2 = 10 = 20%, 30%, 30%, 20% 
        2) flex-shrink ->se controla cómo se encogerán los elementos. 
        3) flex-basis: 50% || 50px || auto -> determina el ancho  */
    flex: 1 0 auto;
}

.elemento-flex:nth-child(1) {
    background-color: #E53935;
    align-self: flex-start;
}

.elemento-flex:nth-child(2) {
    background-color: #8E24AA;
}

.elemento-flex:nth-child(3) {
    background-color: #3F51B5;
    align-self: flex-end;
}

.elemento-flex:nth-child(4) {
    background-color: #3f94b5;
}

.elemento-flex:nth-child(5) {
    background-color: #3fb589;
    align-self: flex-start;
}

@media screen and (max-width: 768px) {
    .elemento-flex:nth-child(3) {
        order: -2;
    }
    .elemento-flex:nth-child(4) {
        order: 5
    }
}